body {
    background-image: url(https://eskipaper.com/images/cool-backgrounds-4.jpg);
}

h1{
    color: magenta;
    text-align: center;
}

h3{
    color: magenta;
    text-align: center;
}

p{
    text-align: center;
}