@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

body {
    background-image: url(https://eskipaper.com/images/cool-backgrounds-4.jpg);
}

h1{
    font-family: "Tangerine", cursives;
    font-size: 50px;
    color: magenta;
    text-align: center;
}

h3{
    color: magenta;
    text-align: center;
}

#user_entry {
    text-align: center;
    background-color: white;
    height: auto;
    margin: 30px;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: magenta 3px solid;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#a-button {
    border-radius: 25px;
    border: magenta 2px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#h-button {
    border-radius: 25px;
    border: magenta 2px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}