.j-entry {
    line-height: auto;
    display: inline-block; 
    text-align: left;
    height: 200px;
    width: 800px;
}

#entry-area {
    display: flex;
    justify-content: center;
    border: magenta 2px, solid;
}

h1{
    color: magenta;
    text-align: center;
}

body {
    background-image: url(https://eskipaper.com/images/cool-backgrounds-4.jpg);
}

p {
    color: white;
    text-align: center;
}

.j-title {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-items: center;
    width: 800px;
} 

#title-area {
    display: flex;
    justify-content: center;
}

.j-date {
    width: 800px;
    text-align: center;
}

#date-area {
    display: flex;
    justify-content: center;
}
/*
 .j-entry {
    line-height: auto;
}

body {
    background-image: url(https://eskipaper.com/images/cool-backgrounds-4.jpg);
}

p {
    color: white;
    text-align: center;
}

.j-title {
    align-self: center;
}

.j-entry { 
    display: inline-block; 
    width: 210px; 
    text-align: right;
}

.container {
    display: flex;
}

*/