<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href = "/static/css/added-entry.css">
    <title>Entries</title>
</head>
<body>
    <h1>{{entry_titles}}</h1>
    <h3>{{entry_dates}}</h3>

    <div id = "user_entry">
        <p>{{entry_texts}}</p>
    </div>
    <a href = "/all-entries"><button>Click Here To View All of Your Entries</button></button></a>
    <a href = "/"><button>Home</button></a>
</body>
</html>