<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href = "/static/css/completed-entries.css">
    <title>View Entries</title>
</head>
<body>

    <h1>All Entries</h1>

    <a href = "/"><button>Home</button></a>

    {% for entry in entries %}
        <div id = "view-entries">
            <p>{{entry['entry_dates']}}: {{entry['entry_titles']}}</p>
            <p>{{entry['entry_texts']}}</p>
        </div>
    {% endfor %}

</body>
</html>