<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href = "/static/css/completed-entries.css">
    <title>View Entries</title>
</head>
<body>

    <h1>All Entries</h1>
    {% for entry in entries %}
        <p>{{entry['date']}} : {{entry['title']}}</p>
    {% endfor %}




    <!-- <ul>
        {% for entry in entries %}
            <p>
                {{entry['date']}} : {{entry['title']}}
            </p>
        {% endfor %}
    </ul>
-->
</body>
</html>