<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href = "/static/css/home.css">
    <title>Home</title>
</head>
<body>

    <form action = "/submitted" method = "POST">
    <h1>Journal Entry</h1>
    <p>Enter a Title for Your Journal Entry</p>
        <div id = "title-area">
            <input class = "j-title" type = "text" placeholder = "Journal Entry Title" name = "journal-entry-title" />
        </div>
    <p>Enter Today's Date and Time for Your Journal Entry</p>
        <div id = "date-area">
            <input class = "j-date" type= "datetime-local" name = "journal-entry-date" />
        </div>
    <p>Write Your Journal Entry Below!</p>
        <div id = "entry-area">
            <textarea class = "j-entry" type = "text" placeholder = "Write Your Journal Entry Here!" name = "journal-entry-text" height = "100"></textarea>
        </div>
        <br>
        <br>
        <br>
        <div id = "buttons">
            <input class = "s-button" type = "submit" value= "Submit Your Entry" />

            <a href="/all-entries"> <button> View All Entries </button></a>
        </div>
    </form>


</body>
</html>