<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href = "/static/css/home.css">
    <title>Home</title>
</head>
<body>
    <h1>Journal</h1>
    <form>
        <p>Enter a Title for Your Journal Entry</p>
        <input class = "container" type = "text" name = "journal-entry-title" />
        <p>Enter Today's Date and Time for Your Journal Entry</p>
        <input class = "j-date" type= "datetime-local" name = "journal-entry-date" />
        <p>Write Your Journal Entry Below!</p>
        <input class = "container" type = "text" name = "journal-entry-text" height = "100" />
    </form>
</body>
</html>